# Основные библиотеки
requests
numpy<2
gradio
einops
mega-x
gdown
wget
tqdm

# Библиотеки для работы с аудио и видео
ffmpeg-python>=0.2.0
PolUVR[gpu]
torchcrepe
torchfcpe
edge-tts

# Машинное обучение и нейронные сети
torch
torchaudio==2.6
torchvision==0.21
faiss-cpu>=1.7.3
local-attention
tensorboardX

# Условные зависимости
omegaconf
